{% extends 'base.html' %}

<!--Loads our static folder we created containing all the static assets-->
{% load static %}


{% block title %}Charlie Bell - About{% endblock %}

{% block content %}

<body class="bg-secondary">

    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body" id="profile-wrapper">
                    <img id="profile-pic" src={% static 'theme/assets/img/me.jpg' %} class="profile-pic" alt="Image cannot be displayed" />
                    <hr>
                    <div class="grid justify-content-center">
                        <a href = "https://github.com/Charlie-Bell/" target="_blank"><i class="fa-brands fa-github fa-2x text-dark"></i></a>
                        <a href = "https://www.linkedin.com/in/charlie-bell-04989bb5/" target="_blank"><i class="fa-brands fa-linkedin fa-2x text-blue"></i></a>
                        <a href = "https://www.xing.com/profile/Charlie_Bell3" target="_blank"><i class="fa-brands fa-xing fa-2x text-teal"></i></a>
                        <a href = "mailto: charlie.james.bell@gmail.com" target="_blank"><i class="fa-solid fa-envelope fa-2x text-red"></i></a>
                        <a href = "https://wa.me/491621942883" target="_blank"><i class="fa-brands fa-whatsapp fa-2x text-green"></i></a>
                    </div>
                    <hr>
                    <div class="row">
                        <a href={% static 'theme/assets/Charlie Bell CV.docx' %} download>
                            <button class="btn cb-bg-primary btn-xl text-white" id="downloadCV" type="download">CV <i class="fa fa-download fa-1x text-white"></i></button>
                        </a>
                    </div>
                    <br>
                    <div class="row">
                        <div class="grid justify-content-center">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Amazon_Web_Services_Logo.svg/2560px-Amazon_Web_Services_Logo.svg.png" alt="missing logo" height="25px"/>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/PyTorch_logo_black.svg/2560px-PyTorch_logo_black.svg.png" alt="missing logo" height="25px"/>
                        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/45/Hugging_Face_logo.svg/1024px-Hugging_Face_logo.svg.png" alt="missing logo" height="25px"/>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/OpenAI_Logo.svg/512px-OpenAI_Logo.svg.png" alt="missing logo" height="25px"/>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Flask_logo.svg/1024px-Flask_logo.svg.png" alt="missing logo" height="25px"/>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Django_logo.svg/2560px-Django_logo.svg.png" alt="missing logo" height="25px"/>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/1200px-Node.js_logo.svg.png" alt="missing logo" height="25px"/>
                        <img src="https://www.alioze.com/wp-content/uploads/2016/11/react-js.png" alt="missing logo" height="25px"/>
                        <img src="https://www.ovhcloud.com/sites/default/files/styles/text_media_horizontal/public/2021-09/ECX-1909_Hero_PostgreSQL_600x400%402x.png" alt="missing logo" height="25px"/>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/MongoDB_Logo.svg/2560px-MongoDB_Logo.svg.png" alt="missing logo" height="25px"/>
                        <img src="https://seeklogo.com/images/G/google-big-query-logo-AC63E7C329-seeklogo.com.png" alt="missing logo" height="25px"/>
                        </div>    
                    </div>
                </div>
                <br>
            </div>
            <div class="col-md-9">
                <br>
                <div class="row text-center text-white">
                    <h2>Hey, I'm Charlie!</h2>
                    <b>With 4+ years machine learning experience, I will...</b>
                    <br><br>
                        <div class="container-fluid text-white">
                            <div class="row">
                                <div class="col">
                                    <ul class="list-unstyled">
                                        <li><i class="fa-sharp fa-solid fa-robot text-red"></i> <b>Create your AI models</b></br>Each AI use case has a constrained solution space. Technological and user requirements determine the hypotheses most suitable for your task, it could be a LLM for text generation, an ensemble classifier to detect credit fraud, a regressor and scraper for dynamic pricing.</li>
                                    </ul>
                                </div>
                                <div class="col">
                                    <ul class="list-unstyled">
                                        <li><i class="fa-sharp fa-solid fa-gears text-red"></i> <b>Build your MLOps pipelines</b></br>You can have a great model, but that is only the beginning, usually 5-10% of the final project source code. I scale you from development to production, building your pipelines for data, models, deployment and monitoring using industry best practices.</li>
                                    </ul>
                                </div>
                                <div class="col">
                                    <ul class="list-unstyled">
                                        <li><i class="fa-sharp fa-solid fa-code text-red"></i> <b>Develop your platform</b></br>Your AI models may need to be served to a variety of customers, stakeholders, employees. I build platforms to serve your AI to each target group, so that customers are happy, stakeholders are confident and employees are efficient.</li>
                                    </ul>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <ul class="list-unstyled">
                                        <li><i class="fa-sharp fa-solid fa-people-group text-red"></i> <b>Find your teams</b></br>With the recent boom in AI, you may need to scale rapidly, and skilled engineers are scarce. Staff your projects and maximize your profits with applicants I reliably screen for you.</li>
                                    </ul>
                                </div>
                                <div class="col">
                                    <ul class="list-unstyled">
                                        <li><i class="fa-sharp fa-solid fa-graduation-cap text-red"></i> <b>Upskill your developers</b></br>New AI technologies and tools raise the state-of-the-art every day. I will train your existing developers to keep them ahead in the AI landscape.</li>
                                    </ul>
                                </div>
                                <div class="col">
                                    <ul class="list-unstyled">
                                        <li><i class="fa-sharp fa-solid fa-arrow-trend-up text-red"></i> <b>Tend to stakeholders</b></br>Stakeholders come inmany forms and can be difficult to manage. With different backgrounds, expectations will differ. I align expectations of stakeholders with your company through weekly meetings, progress reports and exercises.</li>
                                    </ul>
                                </div>
                            </div>
                        </div></p>
                    </div>

                    
                    <br>
                    <!-- <div class="row text-center text-white">
                        <br><br>
                        <blockquote class="blockquote">
                            <p><i>"As a Machine Learning Engineer, he was an invaluable asset to our team. His deep expertise with large language models has brought immense value to our projects, driving innovation and success. His technical skills, dedication, and problem-solving abilities have significantly elevated our work, making him a key contributor to our achievements."</i></p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            Untapped AI Ltd.
                        </figcaption>
                    </div> -->
                    <div class="row text-center text-white">
                        <br><br>
                        <blockquote class="blockquote">
                            <p><i>"Thanks to his quick comprehension, he was able to see even difficult situations immediately and,
                                thanks to his good analytical skills and his practical orientation, quickly found good solutions, which
                                he always implemented profitably."</i></p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            Bilfinger Life Science Automation GmbH
                        </figcaption>
                    </div>
            </div>
        </div>
        
    </div>

</body>


{% endblock %}