{% extends 'base.html' %}

<!--Loads our static folder we created containing all the static assets-->
{% load static %}


{% block title %}Charlie Bell - Home{% endblock %}

{% block content %}

<body class="bg-secondary">

    <br>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-3">
                <div class="card card-body" id="profile-wrapper">
                    <img id="profile-pic" src={% static 'theme/assets/img/me.jpg' %} class="profile-pic" alt="Image cannot be displayed" />
                    <hr>
                    <div class="grid justify-content-center">
                        <a href = "https://github.com/Charlie-Bell/" target="_blank"><i class="fa-brands fa-github fa-2x text-dark"></i></a>
                        <a href = "https://www.linkedin.com/in/charlie-bell-04989bb5/" target="_blank"><i class="fa-brands fa-linkedin fa-2x text-blue"></i></a>
                        <a href = "mailto: charlie.james.bell@gmail.com" target="_blank"><i class="fa-solid fa-envelope fa-2x text-red"></i></a>
                        <a href = "https://wa.me/4915146944867" target="_blank"><i class="fa-brands fa-whatsapp fa-2x text-green"></i></a>
                    </div>
                    <hr>
                    <div class="col">
                        <a href={% static 'theme/assets/img/me.jpg' %} download>
                            <button class="btn cb-bg-primary btn-xl text-white" id="downloadCV" type="download">CV <i class="fa fa-download fa-1x text-white"></i></button>
                        </a>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-md-9">
                <div class="container text-center text-white">

                <h1>Hi there, I'm Charlie!</h1>
                <p><b>
                    I love Python, Machine Learning, Making things.
                    <br>
                    To do: Finish GitHub. 6 projects to go. RNN. Finance. Clustering. Recommender systems. More NLP.
                </b></p>
            </div>
            </div>
        </div>
        
    </div>

</body>

{% endblock %}