{% extends 'base.html' %}

<!--Loads our static folder we created containing all the static assets-->
{% load static %}


{% block title %}Charlie Bell - Home{% endblock %}

{% block content %}

<body>

    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body" id="profile-wrapper">
                    <img id="profile-pic" src={% static 'theme/assets/img/GodHelpUs.jpg' %} class="img-fluid" alt="Image cannot be displayed" />
                    <hr>
                    <h4>Hi I'm Charlie!</h4>
                    <p>I love Python, Machine Learning, Making things</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body">
                    <p>To do:
                    <br>
                    -Format all fonts
                    <br>
                    -Add contact form https://www.youtube.com/watch?v=94ylwr2r3Hs&list=PL39pssg07dpDJas1vxb7Dyw5f8SkAw6c-&index=7
                    <br>
                    -Insert API for chatbot etc.
                    <br>
                    -Fill out portfolio projects https://www.youtube.com/watch?v=pLN-OnXjOJg
                    <br>
                    -Purchase domain and deploy project with Kubernetes
                    <br>
                    -Test website on mobile (after deployment)
                    <br>
                    -<a href="https://github.com/Charlie-Bell">My GitHub</a> (Also add icons)
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>
        </div>
    </div>

</body>

{% endblock %}