{% extends 'base.html' %}

<!--Loads our static folder we created containing all the static assets-->
{% load static %}


{% block title %}Charlie Bell - Projects{% endblock %}

{% block content %}

<body class="bg-secondary">

    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-white">My projects</h1>
                <p class="text-white">
                    <b>
                        Here you will find links to example projects in my <a href="https://github.com/Charlie-Bell?tab=repositories">GitHub</a> repositories to demonstrate how I operate.
                        These are just samples of the kind of things I make!
                        To find out more about what I have experience with, simply contact me.
                    </b>
                </p>
            </div>
        </div>
        <hr class="bg-white">
        <br>
        <div class="row" id="project-directory">
            <div class="grid justify-content-center">
                <a href="https://github.com/Charlie-Bell/landslide-detection" target="_blank" class="image-container">
                    <img id="landslide" src={% static 'theme/assets/img/landslide.jpg' %} class="img-fluid" alt="Image cannot be displayed"/>
                    <div class="px-1">
                        <h4>Landslide Detection</h4>
                        <p>Using artificial intelligence to identify landslides in Hong Kong based on topographic, geological and rainfall data.</p>
                        <h6>Keywords: CNN, Boosting, Blending</h6>
                    </div>
                </a>
                <a href="https://github.com/Charlie-Bell/chatbot" target="_blank" class="image-container">
                    <img id="chatbot" src={% static 'theme/assets/img/chatbot.jpg' %} class="img-fluid" alt="Image cannot be displayed"/>
                    <div class="px-1">
                        <h4>Chazbot</h4>
                        <p>Using transformers to generate custom datasets and create a conversational Q&#38;A AI.</p>
                        <h6>Keywords: NLP, Transformers, GPT-3</h6>
                    </div>
                </a>
                <a href="https://github.com/Charlie-Bell/Django-K8S" target="_blank" class="image-container">
                    <img id="portfolio" src={% static 'theme/assets/img/website.jpg' %} class="img-fluid" alt="Image cannot be displayed"/>
                    <div class="px-1">
                        <h4>Portfolio</h4>
                        <p>This portfolio website was created using Django with a fully automated CI/CD pipeline for rollout.</p>
                        <h6>Keywords: Django, K8S, Docker, CI/CD</h6>
                    </div>
                </a>
                <a href="https://github.com/Charlie-Bell/telemarketing-jyb-subscription-prediction" target="_blank" class="image-container">
                    <img id="jyb" src={% static 'theme/assets/img/jyb.jpg' %} class="img-fluid" alt="Image cannot be displayed"/>
                    <div class="px-1">
                        <h4>Subscription Prediction</h4>
                        <p>Binary classification on a skewed telemarketing dataset with emphasis on data exploration.</p>
                        <h6>Keywords: EDA, Analysis, Bagging</h6>
                    </div>
                </a>
                <a href="https://github.com/Charlie-Bell/lstm-autoencoder" target="_blank" class="image-container">
                    <img id="lstm" src={% static 'theme/assets/img/lstm.jpg' %} class="img-fluid" alt="Image cannot be displayed"/>
                    <div class="px-1">
                        <h4>Subscription Prediction</h4>
                        <p>LSTM Autoencoder with Pytorch to detect anomolies in time series sequential data.</p>
                        <h6>Keywords: LSTM, Autoencoder, Time series</h6>
                    </div>
                </a>
                
            </div>
        </div>

    </div>

{% endblock %}

<!--https://mdbootstrap.com/docs/standard/extended/square-buttons/-->